#root {
  padding: 0;
}



.card {
  padding: 2em;
}

.gradient-bg {
  background: rgb(0,0,0);
  background: linear-gradient(349deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 50%, rgba(30,30,30,1) 100%);
}

.card-hover:hover {
  background: #282828;
}

.card-gradient {
  background: rgb(0,0,0);
  position: relative;
  background: linear-gradient(349deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 50%, rgba(24,24,24,1) 100%);
}

.gradient-hover:hover{
  background: rgb(0,0,0);
  background: linear-gradient(349deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 50%, rgba(30,30,30,1) 100%);
}

.underline {
  text-decoration: none !important;
}

.underline:hover{
  text-decoration: underline !important;
}

.home-headers {
  color: #ffffff;
}

.home-headers:hover {
  color: #ffffff;

}

.card-gradient .floating {
  /* transform: translate(125px, -120px); */
  bottom: 30%;
  left: 66%;
  opacity: 0%;
  color: black;
  position: absolute;
}

.card-gradient:hover .floating {  
  animation-name: floating;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
  align-self: right; 

}

@keyframes floating {
  0% { 
    /* transform: translate(125px, -120px);  */
    bottom: 30%;
    left: 66%;

    opacity: 0%;
}
  100%  { 
    /* transform: translate(125px, -135px);  */
    bottom: 35%;
    left: 66%;

    opacity: 100%;
  }    
}